/*Universal selection*/
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

/*Background for body*/
body {
    background-color: #d9dcd6;
}

/*Main Header Formatting*/
body header {
    padding: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #2a607c;
    color: #ffffff;
}

/*Format for h1 within header*/
header h1 {
    display: inline-block;
    font-size: 48px;
}

/*Color for span^seo within h1 of header*/
header h1 span {
    color: #c9e0b2;
}

/*Formatting for nav within header*/
header nav {
    padding-top: 15px;
    margin-right: 20px;
    float: right;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
}

/*List style type for ul within nav of the header*/
header nav ul {
    list-style-type: none;
}

/*List item display within the ul of the nav in the header*/
header nav ul li {
    display: inline-block;
    margin-left: 25px;
}

/*Color of the anchors*/
a {
    color: #ffffff;
    text-decoration: none;
}

/*Parameters of the background image*/
figure {
    height: 800px;
    width: 100%;
    margin-bottom: 25px;
    background-image: url("../images/digital-marketing-meeting.jpg");
    background-size: cover;
    background-position: center;
}

/*Organizing this section with specific parameters*/
main {
    width: 75%;
    display: inline-block;
    margin-left: 20px;
}

/*Formatting the section which the unique anchor points to*/
main section {
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #0072bb;
    color: #ffffff;
}

/* Formatting the image max height. */
main section img {
    max-height: 200px;
}

/* Formatting bottom margin and fint size for h2 */
main section h2 {
    margin-bottom: 20px;
    font-size: 36px;
}

/*Elements(images) floats left of text with margin between border*/
.float-left {
    float: left;
    margin-right: 25px;
}

/*Font size of the paragraphs*/
p {
    font-size: 16px;
}

/*Element(image) floats right of text with margin between border*/
.float-right {
    float: right;
    margin-left: 25px;
}

/*Formatting of the whole aside tag*/
aside {
    margin-right: 20px;
    padding: 20px;
    clear: both;
    float: right;
    width: 20%;
    height: 100%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #2589bd;
}

/*Format of the specific section*/
aside section {
    margin-bottom: 32px;
    color: #ffffff;
}

/*Format of the specific h3 heading*/
aside section h3 {
    margin-bottom: 10px;
    text-align: center;
}

/*Display of the specific image*/
aside section img {
    display: block;
    margin: 10px auto;
    max-width: 150px;
}

/*Adding format/parameters to the footer*/
footer {
    padding: 30px;
    clear: both;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
}

/*Adding font size to h2 within the footer*/
footer h4 {
    font-size: 20px;
}